# 无用状态文件屏蔽
.DS_Store
.trash

# 个人隐私屏蔽
Extras/Media
Spaces/0-Work/
Spaces/2-Area/个人职业生涯

# 带token的敏感插件数据屏蔽
.obsidian/plugins/remotely-save/data.json
.obsidian/plugins/obsidian-local-rest-api/data.json
.obsidian/plugins/obsidian-weread-plugin/data.json
.obsidian/plugins/simpread/data.json
.obsidian/plugins/obsidian-to-notion/data.json
.obsidian/plugins/obsidian-textgenerator-plugin/data.json
.obsidian/plugins/ava/data.json
.obsidian/plugins/digitalgarden/data.json
.obsidian/plugins/smart-connections/data.json
.obsidian/plugins/chatgpt-md/data.json


# 没必要上传的数据屏蔽
.obsidian/plugins/recent-notes/data.json
.obsidian/plugins/omnisearch/searchIndex.json
.obsidian/plugins/omnisearch/notesCache.json
.obsidian/plugins/obsidian-advanced-slides/**
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/plugins/wucai-highlights-official/data.json
.obsidian/plugins/obsidian-douban-plugin/data.json
.obsidian/plugins/weread-plugin/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/data.json

# 自己私人使用插件
.obsidian/plugins/obsidian-content-protection
.obsidian/plugins/components
.obsidian/plugins/quartz-syncer/data.json
.obsidian/plugins/cubox-sync/data.json
.obsidian/plugins/obsidian-image-auto-upload-plugin/data.json

# billfish配置文件忽略
Extras/Media/.bf/**

# workspace文件若不上传，会导致用户下载库以后，新打开的界面的布局信息丢失
# .obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json

# obsidian发布用文件不需要上传
publish.css
publish.js

# 不上传pdf,epub,mobi文件
*.pdf
*.epub
*.mobi

# 不上传office文件
*.ppt
*.pptx
*.xls
*.xlsx
*.doc
*.docx


# 脚本类文件不上传
*.py
*.sh
*.js
*.ts


# txt
*.txt

# 配置文件
*.json
*.yaml

# 日志文件
*.log

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections


# # Obsidian 忽略文件
# # 这些文件不会被 Obsidian 索引和搜索
# # 需要安装advanced excluded插件

# # 开发环境文件
# node_modules/
# dist/
# *.js.map
# *.tsbuildinfo

# # 构建输出
# *.js

# # 依赖文件
# package.json
# package-lock.json
# tsconfig.json

# # 开发文档
# js-readme.md
# .gitignore

# # 压缩包
# *.zip
# *.rar
# *.7z
# *.tar
# *.gz

# # 文件列表中，不显示
# Extras/Attachments/Documents/

# # 归档文件
# Spaces/4-Archive/

## 自己开发自用的插件屏蔽，还不成熟

.obsidian/plugins/obsidian-presentation-enhanced
.obsidian/plugins/obsidian-smart-canvas
.obsidian/plugins/rclone-uploader


## 暂时屏蔽

# Calendar/

# Cards/

# Sources/